<configuration>
  <packageSources>
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="feedz.io" value="https://f.feedz.io/octopus-deploy/dependencies/nuget" />
    <add key="nuget.packages.octopushq.com" value="https://nuget.packages.octopushq.com/" />
  </packageSources>
</configuration>
